@import url('http://fonts.googleapis.com/css?family=Josefin+Sans:light');

.parentDiv {
  align-items: center;
  /* background-color: #161616; */
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  position: absolute;
  width: 100vw;
  background: rgb(1, 2, 22);
  background: -moz-radial-gradient(
    circle,
    rgba(1, 2, 22, 1) 0%,
    rgba(0, 12, 35, 1) 50%,
    rgba(1, 2, 22, 1) 75%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(1, 2, 22, 1) 0%,
    rgba(0, 12, 35, 1) 50%,
    rgba(1, 2, 22, 1) 75%
  );
  background: radial-gradient(
    circle,
    rgba(1, 2, 22, 1) 0%,
    rgba(0, 12, 35, 1) 50%,
    rgba(1, 2, 22, 1) 75%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#010216",endColorstr="#010216",GradientType=1);
  color: white;
}
.aboutDept {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.deptTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70vw;
}
.deptDesc {
  font-family: Josefin Sans, light;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 26px;
  width: 70vw;
  padding-bottom: 7.5vh;
  display: flex;
  align-items: center;
  gap: 50px;
}
@media screen and (max-width: 768px) {
  .aboutDept {
    height: auto;
  }
}



@media screen and (max-width: 768px) {
  .deptTitle {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.deptTitle h1 {
  color: #ff6559;
  font-family: Josefin Sans;
  font-size: 2.6rem;
  font-weight: bolder;
  text-transform: uppercase;
}

@media (max-width: 450px) {
  .deptTitle h1 {
    font-size: 2rem;
  }
}

@media (max-width: 350px) {
  .deptTitle h1 {
    font-size: 1.7rem;
  }
}

.deptTitle h4 {
  font-family: Josefin Sans;
  font-size: 1.2rem;
  font-weight: lighter;
}

.deptTitle img {
  height: 190px;
  margin: 0 50px 0 0;
  width: 190px;
}



/* .deptDesc div {
  width: 70%;
} */

.deptDesc p {
  /* width: 50%; */
  font-size: 1.3rem;
  /* width: 50%; */
  /* margin-right: 50px; */
  /* word-spacing: 4px; */
  /* white-space: pre-wrap; */
  color: gainsboro;
  font-weight: 300;
  text-align: left;
  line-height: 26px;
  font-family: Josefin Sans, light;
}

@media screen and (max-width: 768px) {
  .deptDesc {
    flex-direction: column;
  }
  .deptDesc div {
    width: 100%;
  }
  .deptDesc p {
    width: 100%;
  }
}

.lottie {
  width: 50vw;
}

.section {
  /* background-color: #161616; */
  display: grid;
  margin-bottom: 50px;
  max-width: 90vw;
  min-width: 80vw;
  position: relative;
}

.cardSection {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 30px;
  row-gap: 40px;
}

.cardSectionTeams {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 30px;
  row-gap: 40px;
  color: white;
}

.section .cardSection div {
  margin-inline: 5px;
  /* background-color: #282828; */
}

.sectionHeading {
  font-family: Josefin Sans;
  font-size: 2.4rem;
  font-weight: 700;
  justify-self: center;
  margin-bottom: 50px;
  /* max-width: 80vw;
  min-width: 70vw; */
  text-align: left;
}
