.card{
    width: 350px;
    /* height: 450px; */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center;     */
    padding: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    min-height: 450px;
}

.card img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card h2{
    font-size: 2.1rem ;
    font-weight: 500;
    margin-block: 10px;
    font-family: Josefin Sans;
    font-weight: 700;
}

.card p{
    font-size: 1.4rem;
    font-weight: 300;
    margin-block: 10px;
    font-family: Josefin Sans;
    line-height: 20px;
}

.registerBtn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    text-decoration: none;
}

.registerBtn span{
    color: #F36D32;
    width: 60%;
    background-color: #fff;
    border: 2px solid #F36D32;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 700;
    font-family: Josefin Sans;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    text-align: center;
}