.footer {
  background-color: #080808;
  color: white;
  padding-top: 4%;
  padding-bottom: 4%;
  width: 100vw;
  z-index: 2;
  position: relative;
}
.footer h2 {
  font-weight: 200;
}
.row {
  display: flex;
  justify-content: space-evenly;
}
.briefInfo {
  width: 20%;
}
.map,
.links {
  width: 18%;
}
.map iframe {
  width: 250px;
  height: 250px;
  max-width: 90vw;
}
.briefInfo img {
  width: 200px;
}
.briefInfo p {
  color: gainsboro;
  line-height: 30px;
}
.links li {
  list-style: none;
  margin-top: 30px;
}
.links a {
  text-decoration: none;
  color: gainsboro;
}
.footerEnd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  margin-top: 3%;
}
.socialIcons {
  display: flex;
  margin-top: 20px;
  justify-content: space-evenly;
  list-style: none;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .footer {
    padding-block: 50px;
    padding-inline: 10px;
  }
}

@media only screen and (max-width: 1024px) {
  .row,
  .footerEnd {
    flex-direction: column;
    text-align: center;
  }
  .links,
  .map,
  .briefInfo {
    width: 100%;
  }
  .row > div {
    margin-bottom: 60px;
  }
  .socialIcons {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
